*.log
*.DS_Store
*.pyc

/tmp/*
/lib/
/logs
/precompile
/javadoc
/nbproject
/.idea
/node_modules

SGCG.iml
SGCG.ipr
SGCG.iws

modules/
.idea/
//test-result/

/.classpath
/.project
/.settings/
/eclipse/
/precompiled/
